.app {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  padding: 24px;
}
.app-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.app-wrapper {
  display: flex;
  column-gap: 8px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 18px;
  font-weight: 700;
}
h2 {
  font-size: 14px;
  font-weight: 700;
}
.list{
  display: flex;
  column-gap: 12px;
  justify-content: flex-start;
  align-items: center;
}
.list-item{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #EEEEEE;
  font-size: 14px;
}
.button{
  background-color: #FFFFFF;
  padding: 12px 24px;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 14px;
  &:hover{
    background-color: #EEEEEE;
    cursor: pointer;
  }
}
.input{
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #000000;
  font-size: 14px;
  width: 300px;
}
